<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,400;0,500;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/modal.css">
    <title>Личный кабинет</title>

</head>
<body>
    <div class="main-conteiner">
        <div class="header">
            <img src="https://otvet.imgsmail.ru/download/100021993_1d745c39c53426ac86ce4c8118edba1a_800.png" class="logo">
            <div class="name">
                <h1>Компас</h1>
                <p>Экскурсии по Москве</p>
            </div>
            <div class="navigation">
                <button onclick="window.location='/order/'">Мои заказы</button>
                <button onclick="window.location='/map/'">Карта</button>
                <button onclick="window.location='/about/'">О нас</button>
            </div>
        </div>
        <div class="footer">
            <div id="map" class="map" onclick="window.location='/map/'"></div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
            <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=qMCUJubQG9tCfxn0AFK7YZ2hcXkNkVdg"></script>
            <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=qMCUJubQG9tCfxn0AFK7YZ2hcXkNkVdg"></script>
            <script src="/js/script.js"></script>
            <div class="content-block">
                <p><b>Список пешеходных маршрутов</b></p>
                <input type="text" id="inut-route">
                <select id="select-route">
                    <option value="0">Название</option>
                    <option value="1">Описание</option>
                    <option value="2">Подробнее</option>
                </select>
                <table>
                    <thead>
                        <tr>
                          <th scope="col">Название</th>
                          <th scope="col">Описание</th>
                          <th scope="col">Подробнее</th>
                          <th scope="col">Посмотреть маршрут</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Arr }}
                            <tr class="tr-route">
                                <td class="td-select">{{ index . 1 }}</td>
                                <td class="td-select">{{ index . 2 }}</td>
                                <td class="td-select">{{ index . 3 }}</td>
                                <td>
                                    <button class="route" 
                                            id onclick="window.location='/route/?data={{index . 4}}|{{index . 5}}'">
                                        Посмотреть
                                    </button>
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div class="pag">
                    <button id="next" onclick="lastpage()"><-</button>
                    <input id="pg1" min="1" max="3" placeholder="Номер страницы" value="1">
                    <p id="pg1-p">из 3</p>
                    
                    <button id="next" onclick="nextpage()">-></button>
                </div>
                
            </div>
            <div class="content-block">
                <p><b>Доступные гиды</b></p>
                <input type="text" id="inut-guides">
                <select id="select">
                    <option value="0">ФИО</option>
                    <option value="1">Язык</option>
                    <option value="2">Опыт работы</option>
                    <option value="3">Цена за час</option>
                </select>
                <table>
                    <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">ФИО</th>
                          <th scope="col">Язык</th>
                          <th scope="col">Опыт работы</th>
                          <th scope="col">Цена за час</th>
                          <th scope="col">Бронь</th>
                        </tr>
                    </thead>
                    <tbody id="guides">
                        {{ range .Guids}}
                        <tr class="tr-guid">
                            <td><img src="https://www.santarelli.com/wp-content/uploads/2015/11/PROFILE_685x685-02-H-02.png"></td>
                            <td class="td-select"></td>
                            <td class="td-select"></td>
                            <td class="td-select"></td>
                            <td><p class="price-hour td-select" id="pricePerHour"></p></td>
                            <td><button class="bron" value="{{ index . 0 }}|{{ index . 4 }}">Бронировать</button></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-window">
            <button class="btn-close">✖</button>
            <h1>Оформление заявки</h1>
            <p>ФИО гида: <b class="guid-name">Гид Александр</b></p>
            <p>Название маршрута: <b class="route-name">Название маршрута</b></p>
            <div class="bron-flex">
                <div class="label-form">
                    <label>Дата экскурсии</label><br>
                    <input type="date" class="date-input">
                </div>
                <div class="label-form">
                    <label>Время начала</label><br>
                    <input type="time" class="time-input">
                </div>
                <div class="label-form">
                    <label>Длительность экскурсии</label><br>
                    <input class="count-time-input">
                </div>
                <div class="label-form">
                    <label>Количество человек</label><br>
                    <input class="peoples-input">
                </div>
            </div>
            <p><b>Дополнительные опции</b></p>
            <div class="dop-options">
                <div>
                    <p><input type="checkbox" class="opt-1">Быстрый выезд гида (в течение часа).</p>
                    <p>Повышает стоимость на 30%.</p>
                </div>
                <div>
                    <p><input type="checkbox" class="opt-2">Интерактивный путеводитель.</p>
                    <p>Увеличивает стоимость в 1,5 раза.</p>
                </div>
            </div>
            <p>Итоговая стоимость: <b class="price" id="">0</b></p>
            <div class="buttons">
                <button class="btn-cancel">Отменить</button>
                <button class="btn-send">Отправить</button>
            </div>
        </div>

        <div class="overlay"></div>
    </div>
    <script src="/js/load-data.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/filter.js"></script>
    <script src="/js/pagination.js"></script>
    <script defer>
        document.getElementById("pg1").oninput();
        lodData();
    </script>
</body>
</html>