:root {

    --color-button: orange;
}

body {
    background-color: #90e0af;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
.main-conteiner{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    color: #000000;
    min-height: 8vh;
    background-color: #F0DC82 ;
    padding-left: 1vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 5.9fr;
}

.footer {
    min-height: 92vh;
    background-color: #FFFDD0;
    display: grid;
    grid-template-rows: 33vh repeat(2, auto);
}

.footer_about {
    min-height: 92vh;
    background-color: #FFFDD0;
}

.footer_map {
    min-height: 92vh;
    background-color: #FFFDD0;
    display: grid;
    grid-template-rows: 1fr;
}

.map {
    background-color: #F0DC82 ;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    color: #000000;
}

.master {
    color: var(--color-button);
    text-shadow: 0 0 3vh var(--color-button);
}

.content-block {
    border-collapse: collapse;
    border-left: 3px solid #dd84e9;
    border-right: 3px solid #dd84e9;
    border-bottom: 3px solid #dd84e9;
    font-family: "Lucida Grande", sans-serif;
}
.content-block > table {
    width: 100%;
    border-collapse: collapse;
}
.content-block > p {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: 90e0af;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.content-block td, .content-block th {
    padding: 10px;
  }

  .content-block th {
    text-align: left;
    font-size: 18px;
  }
  .content-block tr:nth-child(2n) {
    background: #E5E5E5;
  }
  .content-block td:last-of-type {
    text-align: center;
  }
  .content-block a {
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
  }
  .content-block button:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
  }


td, th {
    background-color: #90e0af;
    font-size: 1.2vh;
    padding: 1vw;
    border: .2vh solid #494a4e;
    box-shadow: 0 0 .4vh #494a4e;
}
th {
    background-color: #FFC0CB;
}
td {
    text-align: right;
}
td > img {
    text-align: center;
    height: 4vh;
    width: 4vh;
}

.bron {
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vh;
    color: #000000;
    box-shadow: 0 0 1vh var(--color-button);
    border-radius: 1vh;
    border: 0;
    background-color: var(--color-button);
}

.route {
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vh;
    color: #000000;
    box-shadow: 0 0 1vh var(--color-button);
    border-radius: 1vh;
    border: 0;
    background-color: var(--color-button);
}

.logo {
    height: 6vh;
    width: 6vh;
}

.name {
    padding-left: 2vh;
}
.name > h1 {
    margin-bottom: 0;
    font-size: 2.2vh;
}
.name > p {
    margin-top: 0;
    font-size: 1.3vh;
}

.navigation {
    padding-left: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1vh;
    padding-right: 1vh;
}
.navigation > button {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vh;
    color: #000000;
    box-shadow: 0 0 1vh var(--color-button);
    height: 5.5vh;
    width: auto;
    border-radius: 1vh;
    border: 0;
    background-color: var(--color-button);
}

.more {
    text-align: center;
    padding: 1vh;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vh;
    color: #000000;
    box-shadow: 0 0 1vh var(--color-button);
    border-radius: 1vh;
    border: 0;
    background-color: var(--color-button);
}

.bron-flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


#inut-route, #inut-guides, select {
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    
}

/* Для input, возможно, потребуется дополнительный стиль для выравнивания текста внутри */
#inut-route {
    width: 50%; /* или любая другая ширина по вашему выбору */
    text-align: center;
}

.dop-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.buttons > button {
    height: 3vh;
    margin: 1vw;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2vh;
    color: #000000;
    box-shadow: 0 0 1vh var(--color-button);
    border-radius: 1vh;
    border: 0;
    background-color: var(--color-button);
}

.table {
    background-color: #F0DC82 ;
    border-radius: 1vh;
    margin: 1vh;
    padding: 1vh;
    color: #000000;
}

.table > table {
    border-collapse: collapse;
    width: 100%;
}

.chouse {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 100%;
}
.chouse > button {
    margin: 0;
    background-color: transparent;
    border: 0;
    color: #000000;
}

.ghoste {
    display: none;
}

.pag {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 100%;
}

#next {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  #next {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  #next:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  #next:before,
  #next:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  #next:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #next:hover:before,
  #next:hover:after{
    width:100%;
    transition:800ms ease all;
  }

